body {
    font-size: 1.1rem;
    background-color: rgba(240,240,245,0.75);
    padding-top: 50px;
}

/*#20293C background object
#2F3B52 background input*/

.box-shadow {
    -webkit-box-shadow: 0px 0px 1.5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 1.5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 1.5px 0px rgba(0,0,0,0.75);
}

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(255, 255, 255, 0.6) url("/static/image/spinner.gif") center no-repeat;
  }

  /* Turn off scrollbar when body element has the loading class */
body.loading {
  overflow: hidden;
}

  /* Make spinner image visible when body element has the loading class */
body.loading .overlay {
  display: block;
}


.small-text {
  font-size: small;
}

.navbar-fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}

.navbar-bg {
  font-weight: 600;
}

h5.card-title {
  font-weight: 700;
}